[submodule "zsh/.config/zsh/lib/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/lib/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting
[submodule "emacs/.emacs.d/lib/sensible-defaults.el"]
	path = emacs/.emacs.d/lib/sensible-defaults.el
	url = git@github.com:hrs/sensible-defaults.el
